<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    {% if page.title %}
    <title> {{ page.title }} | {{ config.title }} </title>
    {% else %}
    <title> {{ config.title }} </title>
    {% endif %}
    <meta name="description" content="{{ config.description }}"/>

    <!-- PNG favicon -->
    <link rel="icon" type="image/png" href="img/favicon.png">
    <!-- Main CSS -->
    {% block css %}
	<link rel="stylesheet" href="{{ get_url(path="styles.css", trailing_slash=false) | safe }}">
    {% endblock css %}
    <!-- RSS Discovery -->
    {% block rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    {% endblock %}
</head>

