<nav class="mb-6">
    <ul class="flex flex-row">
	<li class="pr-2"> <a class="text-pink-600 hover:text-pink-800" href="{{
	get_url(path="@/_index.md") }}"> About </a> </li>
	<li class="pr-2"> <a class="text-green-700 hover:text-green-900" href="{{ get_url(path="@/contact.md") }}"> Contact </a> </li>
	<li class="pr-2"> <a class="text-blue-600 hover:text-blue-900" href="{{
	get_url(path="@/blog/_index.md") }}"> Blog </a> </li>
	<li class="pr-2"> <a class="text-yellow-700 hover:text-yellow-900" href="{{ get_url(path="rss.xml",
		trailing_slash=false) | safe }}"> RSS </a> </li>
    </ul>
</nav>
