@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #BB5C21;
}

a:hover, a:focus {
  color: #917059;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

code {
  background-color: #eeeeee;
  padding: 2px;
}

pre {
  box-sizing: border-box;
  border: 1px solid #777;
  color: black;
  background-color: #eeeeee;
  display: block;
  padding: 15px;
  white-space: pre-wrap;
}
