@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #fb923c;
}

a:hover {
  color: #ea580c;
}

code {
  color: white;
  background-color: #4b5563;
  display: block;
  padding: 15px;
}
